/* You can add global styles to this file, and also import other style files */
header {
    padding: 60px;
    text-align: center;
    background: #111111;
    color: #e0e0e0;
    font-size: 30px;
}

body {
    background: #111111 !important;
    color: #e0e0e0 !important;
}

.card {
    background-color: #222222;
    margin-left: 20px;
    margin-right: 20px;
}